<style>

    .padrao{
        color : black;
        font-size : 12px;
        font-family : arial,helvetica;
    }

 

    .pwdby{
    color : black;
    font-size : 9px;
    font-family : arial,helvetica;
    }

</style>