.container{
    border: 3px solid yellowgreen;
    min-height: 500px
    
    }

.fonteSLA{
    color: rgba(2, 2, 49, 0.89);
    font-size: 28px;
    font-family: "Itau Display Black",helvetica;   
}

.fonteSLALongo{
    color: rgba(13, 13, 14, 0.61);
    font-size: 28px;
    font-family: "Itau Display",helvetica;   
}

.bordaFiltro{
    border: 1px solid rgb(165 165 165);    
   }